.elementor-27878 .elementor-element.elementor-element-220aea6:not(.elementor-motion-effects-element-type-background), .elementor-27878 .elementor-element.elementor-element-220aea6 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#6b6b6b;}.elementor-27878 .elementor-element.elementor-element-220aea6{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 0px 0px;}.elementor-27878 .elementor-element.elementor-element-220aea6 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-27878 .elementor-element.elementor-element-0d111b4 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-27878 .elementor-element.elementor-element-2d3e095{text-align:center;}.elementor-27878 .elementor-element.elementor-element-2d3e095 .elementor-heading-title{color:#ffffff;font-size:50px;}.elementor-27878 .elementor-element.elementor-element-2d3e095 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-27878 .elementor-element.elementor-element-3475d6c .elementor-button:hover, .elementor-27878 .elementor-element.elementor-element-3475d6c .elementor-button:focus{color:#006699;background-color:#ffffff;}.elementor-27878 .elementor-element.elementor-element-3475d6c .elementor-button:hover svg, .elementor-27878 .elementor-element.elementor-element-3475d6c .elementor-button:focus svg{fill:#006699;}.elementor-27878 .elementor-element.elementor-element-3475d6c .elementor-button{border-radius:30px 30px 30px 30px;padding:15px 40px 15px 40px;}.elementor-27878 .elementor-element.elementor-element-803e51a > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-27878 .elementor-element.elementor-element-8291a27 .elementor-icon-wrapper{text-align:center;}.elementor-27878 .elementor-element.elementor-element-8291a27.elementor-view-stacked .elementor-icon{background-color:#ffffff;}.elementor-27878 .elementor-element.elementor-element-8291a27.elementor-view-framed .elementor-icon, .elementor-27878 .elementor-element.elementor-element-8291a27.elementor-view-default .elementor-icon{color:#ffffff;border-color:#ffffff;}.elementor-27878 .elementor-element.elementor-element-8291a27.elementor-view-framed .elementor-icon, .elementor-27878 .elementor-element.elementor-element-8291a27.elementor-view-default .elementor-icon svg{fill:#ffffff;}.elementor-27878 .elementor-element.elementor-element-8291a27 .elementor-icon{font-size:30px;}.elementor-27878 .elementor-element.elementor-element-8291a27 .elementor-icon i, .elementor-27878 .elementor-element.elementor-element-8291a27 .elementor-icon svg{transform:rotate(0deg);}.elementor-27878 .elementor-element.elementor-element-773ed05 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-27878 .elementor-element.elementor-element-773ed05 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-27878 .elementor-element.elementor-element-773ed05 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-27878 .elementor-element.elementor-element-9442c99{color:#000000;font-size:11px;line-height:1em;}.elementor-27878 .elementor-element.elementor-element-9442c99 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-27878 .elementor-element.elementor-element-f01da3f:not(.elementor-motion-effects-element-type-background), .elementor-27878 .elementor-element.elementor-element-f01da3f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#dbdbdb;}.elementor-27878 .elementor-element.elementor-element-f01da3f{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0px 0px 50px 0px;}.elementor-27878 .elementor-element.elementor-element-f01da3f > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-27878 .elementor-element.elementor-element-2c760d8 .elementor-heading-title{font-size:36px;}.elementor-27878 .elementor-element.elementor-element-2c760d8 > .elementor-widget-container{margin:30px 0px 0px 0px;}.elementor-27878 .elementor-element.elementor-element-88243a1{font-size:15px;line-height:22px;}.elementor-27878 .elementor-element.elementor-element-88243a1 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:20px 20px 20px 20px;background-color:#ffffff;border-radius:3px 3px 3px 3px;box-shadow:0px 0px 5px 0px rgba(0,0,0,0.3);}.elementor-27878 .elementor-element.elementor-element-596aad9 .elementor-heading-title{font-size:36px;}.elementor-27878 .elementor-element.elementor-element-596aad9 > .elementor-widget-container{margin:30px 0px 0px 0px;}.elementor-27878 .elementor-element.elementor-element-99cc36e{font-size:15px;line-height:22px;}.elementor-27878 .elementor-element.elementor-element-99cc36e > .elementor-widget-container{margin:0px 0px 0px 0px;padding:20px 20px 20px 20px;background-color:#ffffff;border-radius:3px 3px 3px 3px;box-shadow:0px 0px 5px 0px rgba(0,0,0,0.3);}.elementor-27878 .elementor-element.elementor-element-3c453ff .elementor-heading-title{font-size:36px;}.elementor-27878 .elementor-element.elementor-element-3c453ff > .elementor-widget-container{margin:30px 0px 0px 0px;}.elementor-27878 .elementor-element.elementor-element-db499dd{font-size:15px;line-height:22px;}.elementor-27878 .elementor-element.elementor-element-db499dd > .elementor-widget-container{margin:0px 0px 0px 0px;padding:20px 20px 20px 20px;background-color:#ffffff;border-radius:3px 3px 3px 3px;box-shadow:0px 0px 5px 0px rgba(0,0,0,0.3);}.elementor-27878 .elementor-element.elementor-element-2b05051 .elementor-heading-title{font-size:36px;}.elementor-27878 .elementor-element.elementor-element-2b05051 > .elementor-widget-container{margin:30px 0px 0px 0px;}.elementor-27878 .elementor-element.elementor-element-d0a7bc3{font-size:15px;line-height:22px;}.elementor-27878 .elementor-element.elementor-element-d0a7bc3 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:20px 20px 20px 20px;background-color:#ffffff;border-radius:3px 3px 3px 3px;box-shadow:0px 0px 5px 0px rgba(0,0,0,0.3);}.elementor-27878 .elementor-element.elementor-element-48fbd94 .elementor-heading-title{font-size:36px;}.elementor-27878 .elementor-element.elementor-element-48fbd94 > .elementor-widget-container{margin:30px 0px 0px 0px;}.elementor-27878 .elementor-element.elementor-element-d79f68a:not(.elementor-motion-effects-element-type-background), .elementor-27878 .elementor-element.elementor-element-d79f68a > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ffffff;}.elementor-27878 .elementor-element.elementor-element-d79f68a, .elementor-27878 .elementor-element.elementor-element-d79f68a > .elementor-background-overlay{border-radius:3px 3px 3px 3px;}.elementor-27878 .elementor-element.elementor-element-d79f68a{box-shadow:0px 0px 5px 0px rgba(0,0,0,0.3);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:20px 20px 20px 20px;}.elementor-27878 .elementor-element.elementor-element-d79f68a > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-27878 .elementor-element.elementor-element-c8f8e6a > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:9px;}.elementor-27878 .elementor-element.elementor-element-b78c197 .elementor-button{fill:#ffffff;color:#ffffff;background-color:#0375a4;}.elementor-27878 .elementor-element.elementor-element-b78c197 .elementor-button:hover, .elementor-27878 .elementor-element.elementor-element-b78c197 .elementor-button:focus{background-color:#0375a4;}.elementor-27878 .elementor-element.elementor-element-11e6d8c .elementor-heading-title{font-size:36px;}.elementor-27878 .elementor-element.elementor-element-11e6d8c > .elementor-widget-container{margin:30px 0px 0px 0px;}.elementor-27878 .elementor-element.elementor-element-ee39689{font-size:15px;line-height:22px;}.elementor-27878 .elementor-element.elementor-element-ee39689 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:10px 10px 10px 10px;background-color:#ffffff;border-radius:3px 3px 3px 3px;box-shadow:0px 0px 5px 0px rgba(0,0,0,0.3);}.elementor-27878 .elementor-element.elementor-element-4bfe5f6 .elementor-heading-title{font-size:36px;}.elementor-27878 .elementor-element.elementor-element-4bfe5f6 > .elementor-widget-container{margin:30px 0px 0px 0px;}.elementor-27878 .elementor-element.elementor-element-9de7867{font-size:15px;line-height:22px;}.elementor-27878 .elementor-element.elementor-element-9de7867 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:20px 20px 10px 20px;background-color:#ffffff;border-radius:3px 3px 3px 3px;box-shadow:0px 0px 5px 0px rgba(0,0,0,0.3);}.elementor-27878 .elementor-element.elementor-element-becffc4 .elementor-heading-title{font-size:36px;}.elementor-27878 .elementor-element.elementor-element-becffc4 > .elementor-widget-container{margin:30px 0px 0px 0px;}.elementor-27878 .elementor-element.elementor-element-189dfc7{font-size:15px;line-height:22px;}.elementor-27878 .elementor-element.elementor-element-189dfc7 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:20px 20px 10px 20px;background-color:#ffffff;border-radius:3px 3px 3px 3px;box-shadow:0px 0px 5px 0px rgba(0,0,0,0.3);}.elementor-27878 .elementor-element.elementor-element-70b30ad .elementor-heading-title{font-size:36px;}.elementor-27878 .elementor-element.elementor-element-70b30ad > .elementor-widget-container{margin:30px 0px 0px 0px;}@media(min-width:768px){.elementor-27878 .elementor-element.elementor-element-2799c9e{width:70%;}.elementor-27878 .elementor-element.elementor-element-c9e04ba{width:30%;}}/* Start custom CSS for theme-post-title, class: .elementor-element-2d3e095 */.elementor-27878 .elementor-element.elementor-element-2d3e095 h1 {
    margin: 0;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-0d111b4 */.elementor-27878 .elementor-element.elementor-element-0d111b4 {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-8291a27 */.elementor-27878 .elementor-element.elementor-element-8291a27 {
    display: inline-block;
    text-align: center;
    z-index: 100;
}

.elementor-27878 .elementor-element.elementor-element-8291a27 .elementor-icon-wrapper {
    border: 4px solid #fff;
    display: inline-block;
    border-radius: 50%;
    line-height: 1;
    width: 40px;
    height: 40px;
    position: relative;
}

.elementor-27878 .elementor-element.elementor-element-8291a27 .elementor-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-803e51a */.elementor-27878 .elementor-element.elementor-element-803e51a {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-9442c99 */.elementor-27878 .elementor-element.elementor-element-9442c99 p {
    margin: 0;
}

.elementor-27878 .elementor-element.elementor-element-9442c99 {
    padding: 5px;
    background-color: #fff;
    display: inline-block;
    width: auto;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-773ed05 */.elementor-27878 .elementor-element.elementor-element-773ed05 {
    position: absolute;
    bottom: 3px;
    left: 3px;
    z-index: 2;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-220aea6 */.elementor-27878 .elementor-element.elementor-element-220aea6 {
    width: 100%;
    position: relative;
}

.elementor-27878 .elementor-element.elementor-element-220aea6 .elementor-container {
    position: static!important;
}

.elementor-27878 .elementor-element.elementor-element-220aea6::before {
    content: '';
    display: block;
    padding-top: 40%;
}

@media screen and (max-width:768px) {
    .elementor-27878 .elementor-element.elementor-element-220aea6::before {
        padding-top: 100%;
    }
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-88243a1 */.elementor-27878 .elementor-element.elementor-element-88243a1 #snippet-box {
    display: none !important;
}/* End custom CSS */
/* Start custom CSS for theme-post-content, class: .elementor-element-99cc36e */.elementor-27878 .elementor-element.elementor-element-99cc36e #snippet-box {
    display: none !important;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-db499dd */.elementor-27878 .elementor-element.elementor-element-db499dd #snippet-box {
    display: none !important;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-d0a7bc3 */.elementor-27878 .elementor-element.elementor-element-d0a7bc3 #snippet-box {
    display: none !important;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-9de7867 */.elementor-27878 .elementor-element.elementor-element-9de7867 a {
    border: 1px solid #cccccc;
    line-height: 1;
    padding: 8px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    display: inline-block;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-189dfc7 */.elementor-27878 .elementor-element.elementor-element-189dfc7 a {
    border: 1px solid #cccccc;
    line-height: 1;
    padding: 8px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    display: inline-block;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-9d047b0 */.elementor-27878 .elementor-element.elementor-element-9d047b0 .elementor-image {
    position: relative;
}
.elementor-27878 .elementor-element.elementor-element-9d047b0 .widget-image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    text-align: left;
    padding: 0 50px 5px 14px;
    font-size: 30px;
    color: #fff;
    font-family: "BebasNeue", Sans-serif;
    font-weight: 400;
    margin-bottom: 0;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-253e7b5 */.elementor-27878 .elementor-element.elementor-element-253e7b5 .elementor-image {
    position: relative;
}
.elementor-27878 .elementor-element.elementor-element-253e7b5 .widget-image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    text-align: left;
    padding: 0 50px 5px 14px;
    font-size: 30px;
    color: #fff;
    font-family: "BebasNeue", Sans-serif;
    font-weight: 400;
    margin-bottom: 0;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-45a6dec */.elementor-27878 .elementor-element.elementor-element-45a6dec .elementor-image {
    position: relative;
}
.elementor-27878 .elementor-element.elementor-element-45a6dec .widget-image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    text-align: left;
    padding: 0 50px 5px 14px;
    font-size: 30px;
    color: #fff;
    font-family: "BebasNeue", Sans-serif;
    font-weight: 400;
    margin-bottom: 0;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-9a73768 */.elementor-27878 .elementor-element.elementor-element-9a73768 .elementor-image {
    position: relative;
}
.elementor-27878 .elementor-element.elementor-element-9a73768 .widget-image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    text-align: left;
    padding: 0 50px 5px 14px;
    font-size: 30px;
    color: #fff;
    font-family: "BebasNeue", Sans-serif;
    font-weight: 400;
    margin-bottom: 0;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-93b5083 */.elementor-27878 .elementor-element.elementor-element-93b5083 .elementor-image {
    position: relative;
}
.elementor-27878 .elementor-element.elementor-element-93b5083 .widget-image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    text-align: left;
    padding: 0 50px 5px 14px;
    font-size: 30px;
    color: #fff;
    font-family: "BebasNeue", Sans-serif;
    font-weight: 400;
    margin-bottom: 0;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-db4660b */.elementor-27878 .elementor-element.elementor-element-db4660b .elementor-image {
    position: relative;
}
.elementor-27878 .elementor-element.elementor-element-db4660b .widget-image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    text-align: left;
    padding: 0 50px 5px 14px;
    font-size: 30px;
    color: #fff;
    font-family: "BebasNeue", Sans-serif;
    font-weight: 400;
    margin-bottom: 0;
}/* End custom CSS */